<div class="layout">
    <div class="carousel"></div>

    <div class="content">        
        <div>
            <div class="width-limit-large">
                <div class="flex-end-container invision">
                    <div class="fsize-large fweight-heavy fcolor-regular">Invision</div>
                </div>
            </div>

            <div class="width-limit">
                <div class="signup">
                    <div class="title fsize-title">Gettings Started</div>
        
                    <iv-sign-up-form></iv-sign-up-form>
                </div>
            </div>
        </div>
    </div>
</div>