<div class="layout">
    <div class="carousel">
        <iv-sign-carousel></iv-sign-carousel>
    </div>

    <div class="content">        
        <div>
            <div class="width-limit-large">
                <div class="flex-end-container invision">
                    <div class="fsize-large fweight-heavy fcolor-regular">Invision</div>
                </div>
            </div>

            <div class="width-limit">
                <div class="signup">
                    <div class="title fsize-title">Gettings Started</div>
        
                    <iv-sign-up-form></iv-sign-up-form>

                    <div class="horizontal-center">
                        <div>
                            <span>Already in <strong>Invision</strong>? </span>
                            <a class="link" [routerLink]="['/login/sign-in']">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>