div {
  display: grid;
}

.layout {
  gap: 2em;
}

.form-layout {
  gap: 1em;
}


.flex-end-container {
  display: flex;
  justify-content: flex-end;
}

.horizontal-center {
  justify-items: center;
}

.signin {
  padding-left: 3em;
  padding-right: 3em;
}