<form [formGroup]="signInForm" (ngSubmit)="trySignIn()">
    <div class="layout">

        <div class="form-layout">
            <div class="input-group" [class.danger]="isInvalid('email')">
                <label> Email </label>
                <input type="text" class="input" formControlName="email" />
            </div>
    
            <div class="input-group" [class.danger]="isInvalid('password')">
                <label> Password </label>
                <input type="password" class="input" formControlName="password" [class.danger]="isInvalid('password')"/>
            </div>
    
            <div class="flex-end-container">
                <a class="link muted" href="#">
                    Forgot password?
                </a>
            </div>
        </div>

        <div class="horizontal-center">
            <button class="button signin" type="submit">
                Sign In
            </button>
        </div>
        <div class="or-layout">
            <hr>
            <div>
                Or
            </div>
            <hr>
        </div>

        <div class="horizontal-center">
            <button (click)="signInGoogle.emit()" class="button google">
                <img src="assets/svgs/google_logo.svg">
                Sign in with Google
            </button>
        </div>
    </div>
</form>