<form [formGroup]="signUpForm" (ngSubmit)="trySignIn()">
    <div class="layout">

        <div class="form-layout">
            <div class="input-group" [class.danger]="isInvalid('fullname')">
                <label> Full Name </label>
                <input type="text" class="input" formControlName="fullname" />
                <div *ngIf="hasError('email', 'required')">
                    This field should not be empty
                </div>
            </div>

            <div class="input-group" [class.danger]="isInvalid('email')">
                <label> Email </label>
                <input type="text" class="input" formControlName="email" />
                <div *ngIf="hasError('email', 'required')">
                    This field should not be empty
                </div>
                <div *ngIf="hasError('email', 'email')">
                    Email format incorrect
                </div>
            </div>

            <div class="input-group" [class.danger]="isInvalid('password')">
                <label> Password </label>
                <input type="password" class="input" formControlName="password"
                    [class.danger]="isInvalid('password')" />

                <div *ngIf="hasError('password', 'required')">
                    This field should not be empty
                </div>
                <div *ngIf="hasError('password', 'minlength')">
                    Password length should be 6 or more
                </div>
            </div>
        </div>

        <div class="horizontal-center">
            <button class="button signin" type="submit">
                Sign Up
            </button>
        </div>
        <div class="or-layout">
            <hr>
            <div>
                Or
            </div>
            <hr>
        </div>

        <div class="horizontal-center">
            <button (click)="signUpGoogle.emit()" class="button google">
                <img src="assets/svgs/google_logo.svg">
                Sign up with Google
            </button>
        </div>

        <div class="text-center terms">
            By signing up, you agree to <strong>Invision</strong>
            <br>
            <span>
                <a class="link" href="#">
                    Terms of Conditions
                </a>
            </span>
            and
            <span>
                <a class="link" href="#">
                    Privacy Policy
                </a>
            </span>
        </div>
    </div>
</form>