/* You can add global styles to this file, and also import other style files */
@import "./_reset.less";
@import "./components/_buttons.less";
@import "./components/_fonts.less";
@import "./components/_forms.less";
@import "./components/_input.less";

html,
body {
  min-height: 100vh;
}

body {
  font-family: @font-family-default;
  font-weight: @font-weight-default;
  color: @foreground-muted;
}

.text-center {
  text-align: center;
}

.flex-end-container {
  display: flex;
  justify-content: flex-end;
}