@import "../../../../../styles/_variables.less";

.layout {
  display: grid;
  min-height: 100vh;
  grid-auto-flow: column;
}

.carousel {
  background-color: @background-accent-color;
}

.content {
  display: grid;
  place-items: center;
}