<div class="layout">
    <div class="carousel"></div>

    <div class="content">        
        <div>
            <div class="width-limit-large">
                <div class="flex-end-container invision">
                    <div class="fsize-large fweight-heavy fcolor-regular">Invision</div>
                </div>
            </div>

            <div class="width-limit">
                <div class="signup">
                    <div class="title fsize-title">Welcome to Invision</div>
        
                    <iv-sign-in-form></iv-sign-in-form>
        
                    <div class="horizontal-center">
                        <div>
                            <span>New to Invision? </span>
                            <a class="link" href="#">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>