@import "../../../../../styles/_variables.less";

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0 1fr;
}

.carousel {
  background-color: @background-accent-color;
}

.content {
  display: grid;
  margin: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}

.content-layout {
  display: grid;
  gap: 1em;
}

.horizontal-center {
  display: grid;
  justify-items: center;
}

@media only screen and (min-width: @mobile-threshold) {
  .content {
    align-items: center;
  }

  .layout {
    grid-template-columns: 1fr 1fr;
  }
}